@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    background-color: #75B5FF;
    font-family: 'Montserrat';
}
.logo
{
    width: 550px;
    height: 150px;
}
.formulario
{
    margin: auto;
    background-color: #224C99;
    border-radius: 15px;
    color: #f2f2f2;
    width: 507px;
    height: 624px; 
    
}
input
{
    border-radius: 10px;
    font-family: 'Montserrat';
    color: #333333;
    border-color: #F0C400;
    height: 30px;
    width: 300px;
    margin: 7px;
}
::-webkit-input-placeholder  { color:#F0C400; font-family: 'Montserrat';}
input:-moz-placeholder { color:#F0C400; font-family: 'Montserrat';}
.button
{
    font-weight: 800;
}
a
{
    text-decoration-line: none;
    color: #F0C400;
}
fieldset {
    border-top: 1px solid #fff;
     border-bottom: none;
     border-left: none;
     border-right: none;
     display: block;
     text-align: center;
}
 
 fieldset legend {
     padding: 5px 10px;
 }
 .loginext
 {
    display: block;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    margin: 7px;
 }
 i
 {
    color: #F0C400;
 }

.senha-container {
    position: relative;
}
